

.hero-container {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(198, 198, 198);
    height: 600px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    .hero-contents {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .button {
        align-self: center;
        transition: ease-out 0.2s;
    }
}



.line {
    font-size: 100px;
}